body{
    font-size:1.1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
    line-height:1.5rem;
}
h2,h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height:1.7rem;
}
.header{
  max-width:100%;
    background-color:brown;
    height:4vh;
    margin:auto;
    margin-bottom:10px;
    

}
.cvcontainer{
    max-width:100%;
    display:grid;
    gap: 10px;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

  
}   
#profilimg{
    
    border:0;
}
#profilimg img{
    margin-top:20px;
    max-width:70%;

}
/*styles the paragraph giving a brief information about the employee*/
.about p{
    font-style: italic;
    font-size:1.1rem;
}

/*styles the division that containes all the resume(CV)*/
.cvcontainer div{
padding-right:3vw;
padding-left:3vw;
}

.sidebar{
    background-color:rgb(44, 43, 43);
    color:white;
}
.sidebar div{
    max-width:90%;
    margin:1.2rem;
   border:2px solid red;
   border-radius:10px;
   opacity:1.0;
   
   
}
.sidebar div:hover{
    opacity:0.5;
}
.sidebar a{
    text-decoration:none;
    color:white;
}
.sidebar a:hover{
    color:brown;
}
.sidebar ul{
    list-style: circle;
    line-height:1.8rem;
}

/* This division includes information about Work Experience and Education */
.main{
    background-color:white;
    
}
.main div{
    border-bottom:4px solid black;
    
}
.main ul{
    list-style-type: square ;
    list-style-position: inside;
}

.footer{
    text-align:center;
    margin-top:10px;
    background-color: brown;
}
@media screen and (min-width: 920px) { 
    .cvcontainer{
    max-width:85%;
    margin:auto;
        grid-template-columns:1fr 2fr;

      
    }
    
}